git
node
n
i3
vscode
docker
firefox
chrome
insomnia
filezila
password manager -> manual

maybe: tldr -> sudo npm install -g tldr
maybe: aptitude -> sudo apt install aptitude (aptitude is also from canonical)